DB_HOST=db
DB_PORT=3306
DB_USER=ecom_user
DB_PASSWORD=ecom_pass
DB_NAME=ecommerce

SECRET_KEY=supersecretkey
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
CORS_ORIGINS=http://localhost:5173,http://localhost:8080
